@model PasswordChangeViewModel

@{
    ViewData["Title"] = "Account";
}

<div>
    <form asp-action="ChangePassword" asp-controller="Home" method="post">
        <div>
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" type="password"/>
            <span asp-validation-for="NewPassword"></span>
        </div>
        <input type="submit" value="Change"/>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}